@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.sd {
    font-family: "Roboto" !important;
    display: inline-block;
    vertical-align: bottom;
    font-style: normal;
    line-height: inherit;
    font-weight: 400;
    font-size: inherit;
}

.sd.sdm {
    font-weight: 500;
}

[class*="sidenav-"] .sd[data-class-cancel="active"] {
    font-size: 2rem;
    width: 3rem;
    cursor: pointer;
    padding: 0.5rem 0;
    line-height: 1;
    text-align: center;
}